<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  
  <appSettings>
    <add key="actorSystemName" value="Client" />
    <add key="remoteAgentAddress" value="akka.tcp://Agent@localhost:8000/user/AgentActor" />
  </appSettings>
  
  <akka>
    <hocon>
      <![CDATA[
       
      akka
      {
          actor
          {
              provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
              serializers {
                  hyperion = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"
              }
              serialization-bindings {
                  "System.Object" = hyperion
              }
          }
 
          remote 
          {
            helios.tcp
              {
                  transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
                  transport-protocol = tcp
                  port = 0
                  hostname = localhost
              }
           
          }
      }
     
    ]]>
    </hocon>
  </akka>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>